%common-scrollbar-style {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(#000, 0.05);
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 5px;
        background: rgba(#000, 0.2);
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(#000, 0.15);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(128, 135, 139, 0.8);
    }

    scrollbar-width: thin;
}

%common-scrollbar-size--verti {
    &::-webkit-scrollbar {
        width: 10px;
    }
}

%common-scrollbar-size--hori {
    &::-webkit-scrollbar {
        height: 10px;
    }
}
